{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}

<div class="header_bottom_right_images">
    <div class="about_wrapper"><h1>The Publisher && The Project</h1>
   </div>
   <div class="about-group">
        <div class="about-top">	
            <div class="grid images_3_of_1">
                <!-- <img src="/auctions/images/pic7.jpg" alt=""/> -->
            </div>
            <div class="grid span_2_of_3">
                <h3>Cascarr Ihesie</h3>
                <p>
                    Django Application Developer, with a continuous growth mindset working and publishing fine Software for small businesses. 
                    

                    
                </p>
                <p>
                    Tech Stack: 
                    Python, Django, PostgreSQL, JavaScript ES6, and Tailwind.
                </p>
            </div>
            <div class="clear"></div> 
        </div>
   


   <div class="about-group">
        <div class="about-top">	
        
            <div class="grid span_2_of_3">
                <h3>About this Project</h3>
                <p>
                    This is an eBay-like ecommerce auction site that will allow users ;
                </p>

                <ul>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;
                        To post auction listings.
                        </span>
                    </li>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;
                        Place bids on the listings.
                        </span>
                    </li>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;
                        Comment on those listings.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="clear"></div> 

        </div>
    </div>

    <div class="about-group">
        <div class="about-top">

            <div class="grid span_2_of_3">
                <h3>Future Expectations And Improvements</h3>
                <p>
                    This improvement will be applied soon ;
                </p>

                <ul>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;
                        User Authentication and Authorization improvement.
                        </span>
                    </li>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;
                        Add to Cart functionality.
                        </span>
                    </li>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;
                        Add to Watchlist functionality.
                        </span>
                    </li>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;
                        Frontend enhancement.
                        </span>
                    </li>
                    <li>
                        <span>&nbsp;&nbsp;&nbsp;
                        CRUD functionality fully implemented.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>

        </div>
    </div>


<!-- <p class="about-para">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
    nisl ut aliquip ex ea commodo consequat.aliquam erat vol.
</p> -->
<div class="clear"></div>
 <!-- <button class="btn btn-6 btn-6a">Read More</button>  -->
<div class="team">
       
       <div class="section group">
           <!-- <div class="grid_1_of_3 images_1_of_3">
                 <img src="{% static '/auctions/images/pic8.jpg' }" alt=""/>
                 <h3>Jacalyn Markel</h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
           </div> -->
           <div class="clear"></div> 
       </div>
 </div>
        <div class="about-bottom">	
            <!-- <div class="grid span_2_of_a">
                <h4>Our History</h4>
                <ul class="list-2">
            <li><span><a href="#">1990&nbsp;&nbsp;&nbsp;:</a>&nbsp;&nbsp;&nbsp;soluta nobis eleifend option congue nihil imperdiet doming augue duis dolore te feugait nulla facilisi. Nam liber tempo</span></li>
            <li><span><a href="#">1996&nbsp;&nbsp;&nbsp;:</a>&nbsp;&nbsp;&nbsp; soluta nobis eleifend option congue nihil imperdiet doming augue duis dolore te feugait nulla facilisi. Nam liber tempo</span></li>
            <li><span><a href="#">2008&nbsp;&nbsp;&nbsp;:</a>&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</span></li>
        </ul>
            </div> -->
        </div>
</div>
</div>

{% endblock %}