{% extends "auctions/layout.html" %} {% load static %} {% block body %}

<div class="header_bottom_right_images">
  <div id="slideshow">
    <ul class="slides">
      <li>
        <canvas></canvas
          ><img
            src="{% static '/auctions/images/banner4.jpg' %}"
            alt="Marsa Alam underawter close up"
        />
      </li>
    </ul>
    <span class="arrow previous"></span>
    <span class="arrow next"></span>
  </div>
  <!-- close of id="slideshow" -->

  <div class="content-wrapper">
    <div class="content-top">
      <div class="box_wrapper"><h1>Products in {{ category.name }}</h1></div>
      {% for product in products_in_this_category %}
      <div class="text">
        
        <div class="grid_1_of_3 images_1_of_3">
          <div class="grid_1">
            <a href="{{ product.get_absolute_url }}"
              ><img
                src="{{ product.image.url }}"
                title="continue reading"
                alt=""
            /></a>
            <div class="grid_desc">
              <p class="title">{{ product.title }}</p>
              <p class="title1">{{ product.description }}</p>
              <div class="price" style="height: 19px">
                <span class="reducedfrom">${{ product.starting_bid }}</span>
                <!-- <span class="actual">$12.00</span> -->
              </div>
              <div class="cart-button">
                <div class="cart">
                  <!--
                      <a href="#"><img src="{% static '/auctions/images/cart.png' %}" alt=""/></a>
                    -->
                </div>
                <button class="button">
                  <a href="{{ product.get_absolute_url }}">
                    <span>Details</span>
                  </a>
                </button>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <!-- close of class="grid_1" -->

          <div class="clear"></div>
        </div>
        
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- close of class="content-wrapper" -->
</div>
<!-- close of class="header_bottom_right_images" -->

{% endblock %}
