{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}

<div class="header_bottom_right_images">
    <div class="about_wrapper"><h1>Thank you</h1>
   </div>
   <div class="about-group">
        <div class="about-top">	
            <div class="grid images_3_of_1">
                <!-- <img src="/auctions/images/pic7.jpg" alt=""/> -->
            </div>
            <div class="grid span_2_of_3">
                <h3>Cascarr Ihesie</h3>
                <p>
                    Django Application Developer, with a continuous growth mindset working and publishing fine Software for small businesses. 
                </p>
                <p>
                    Tech Stack: 
                    Python, Django, PostgreSQL, JavaScript ES6, and Tailwind.
                </p>
            </div>
            <div class="clear"></div> 
        </div>
   

    </div>
</div>

{% endblock %}    